textarea {
    min-height: 400px;
}

.email-item {
    background-color: #fff;
    margin-bottom: .2rem;
    padding: .5rem;
    cursor: pointer;
}

.read-email-item {
    background-color: #f0f0f0;
    margin-bottom: .2rem;
    padding: .5rem;
    cursor: pointer;
}

.email-body {
    white-space: pre-wrap;
}

#emails-view {
     margin-bottom: 3rem;
}

/* Make buttons pill-shaped */
#navigation-menu .btn {
    border-radius: 20px;
    padding: 6px 16px;
    font-weight: 500;
    display: flex;
    align-items: center;
    transition: all 0.2s;
}

/* Ensure icons match text size and alignment */
.material-symbols-outlined {
    font-size: 20px;
    /* This prevents the icon from pushing the button height up */
    line-height: 1; 
}

/* Hide scrollbar but allow scrolling if screen is too narrow */
#navigation-menu {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE/Edge */
}
#navigation-menu::-webkit-scrollbar {
    display: none; /* Chrome/Safari */
}