textarea {
    min-height: 400px;
}

.email-item {
    background-color: #fff;
    margin-bottom: .2rem;
    padding: .5rem;
    cursor: pointer;
}

.read-email-item {
    background-color: #f0f0f0;
    margin-bottom: .2rem;
    padding: .5rem;
    cursor: pointer;
}